* {
  font-size: 20pt;
  padding: 30px;

  background-color: black;
  color: white;
}
ul {
}
.navbar {
  list-style-type: none;
  display: inline;
  border: 5px solid white;
}
.special a {
  font-size: 40pt;
  background-color: green;
}
